# root
node_modules
.env

# client
client/node_modules
client/dist
client/.env

.env
.env.*
server/.env
server/.env.*
# server
server/node_modules
server/uploads
server/.env
server/.env
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.local
